<?xml version="1.0"?>
<!--
  Copyright (C) 2016 juztamau5
  Software License Agreement (MIT License)

  Permission is hereby granted, free of charge, to any person obtaining a
  copy of this software and associated documentation files (the "Software"),
  to deal in the Software without restriction, including without limitation
  the rights to use, copy, modify, merge, publish, distribute, sublicense,
  and/or sell copies of the Software, and to permit persons to whom
  the Software is furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included
  in all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR
  ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
  WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<launch>
  <!-- Robot-specific arguments -->
  <arg name="NAMESPACE" default="deliverator"/>
  <arg name="DESCRIPTION_PACKAGE" default="deliverator_description"/>

  <group ns="$(arg NAMESPACE)">
    <!-- robot_description is used by nodes that publish to joint_states -->
    <param name="robot_description" command="$(eval find('xacro') + '/xacro.py ' + find(DESCRIPTION_PACKAGE) + '/urdf/em_3905.urdf.xacro')"/>

    <!-- Read joint positions from joint_states, then publish the vehicle's state to tf -->
    <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" value="30.0"/>
    </node>
  </group>
</launch>
