<?xml version="1.0"?>
<launch>

  <arg name="NAMESPACE" default="util"/>

  <group ns="$(arg NAMESPACE)">
    <rosparam command="load" file="$(find deliverator_description)/config/hardware.yaml"/>
    <node pkg="deliverator_util" type="power_on.py" name="power_on" output="screen"/>
  </group>

</launch>
