<?xml version="1.0"?>
<launch>

  <!-- Robot-specific arguments -->
  <arg name="NAMESPACE" default="deliverator"/>
  <arg name="CORE_PACKAGE" default="deliverator_core"/>
  <arg name="DRIVER_PACKAGE" default="deliverator_drivers"/>

  <group ns="$(arg NAMESPACE)">
    <node pkg="$(arg CORE_PACKAGE)" type="device_manager" name="device_manager" output="screen"/>
    <node pkg="$(arg CORE_PACKAGE)" type="diagnostics" name="diagnostics" output="screen"/>
  </group>

  <include file="$(eval find(DRIVER_PACKAGE) + '/launch/wifi.launch')"/>

</launch>
