<?xml version="1.0"?>
<launch>

  <!-- Robot-specific arguments -->
  <arg name="NAMESPACE" default="deliverator"/>
  <arg name="CORE_PACKAGE" default="deliverator_core"/>

  <group ns="$(arg NAMESPACE)">
    <node pkg="$(arg CORE_PACKAGE)" type="manager" name="manager" output="screen"/>
  </group>

</launch>
